<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {%- if page.url == "/" -%}
        WPO Stats: Case studies on the business impact of web performance
        {%- elsif tag -%}
            Performance studies related to "{{tag}}"
        {%- else -%}
            {{title}}
        {%- endif -%}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="alternate" type="application/rss+xml" title="WPO Stats Case Studies" href="/feed.xml" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <style type="text/css">
        {% capture siteCSS %}{% include "styles.css" %}{% endcapture %}
        {{ siteCSS | cssmin }}
        .testing {
            font-family: 'Roboto', sans-serif;
            font-size: 1px;
        }
    </style>
</head>