---
layout: default
---

  <section role="main">
    <ul class="slats">
      {% for post in site.posts %}
        <li>
          {% if post.img %}
          {{#img}}
            <img src="/img/{{post.img.image}}" alt="{{post.img.alt}}" />

          {{/img}}
          {% else %}
          <img src="/img/generic.png" alt="WPO Stats Icon" />
          {% endif %}
          <h3>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h3>
        </li>
      {% endfor %}
    </ul>
  </section>
</div>
