<footer>
  <div class="lc">
    <h2>Hungry for more?</h2>
    <p>If you're looking for more resources around selling performance, I highly recommend the following resources:</p>
    <ul>
      <li class="mo bd">
        <a class="pull" href="http://shop.oreilly.com/product/0636920041450.do"><img src="/img/time-is-money.jpg" alt="Time is Money book cover" /></a>

        <div class="bd"><h3><a href="http://shop.oreilly.com/product/0636920041450.do">Time is Money by Tammy Everts</a></h3>Tammy's book has study after study after study about why performance matters. She covers not just the business side of things, but also the psychology of performance: how does bad performance make users feel. This is a great one to have sitting on your desk.</div></li>
      <li class="mo bd">
      <a class="pull" href="http://designingforperformance.com/"><img src="/img/designing-for-performance.jpg" alt="Designing for Performance book cover" /></a>
      <div class="bd">
        <h3><a href="http://designingforperformance.com/">Designing for Performance by Lara Hogan</a></h3> Lara's book is loaded with great information about advocating for performance within your organization.
      </div>
        </li>

      <li class="mo bd">
        <a class="pull" href="http://pathtoperf.com"><img src="/img/path-to-perf.jpg" alt="Path to Performance Logo" /></a>
        <div class="bd">
          <h3><a href="http://pathtoperf.com">Path to Performance Podcast hosted by Katie Kovalcin and Tim Kadlec</a></h3> Fine. I'm biased on this one. But the podcast is dedicated to helping people figure out how to cultivate a culture of performance within their organizations so it does fit.
        </div>
        </li>

    </ul>
  </div>
  <div class="footer-after">
    <div class="lc">
      <p>@2015. All rights reserved. Built by <a href="http://timkadlec.com">Tim Kadlec</a>.</p>
    </div>
  </div>
</footer>