<footer>
  <div class="lc">
    <h2>Hungry for more?</h2>
    <p>If you're looking for more resources around selling performance, we recommend the following resources:</p>
    <ul>
      <li class="mo bd">
        <a class="pull" href="http://shop.oreilly.com/product/0636920041450.do">
        <picture>
          <source type="image/webp" srcset="/img/time-is-money.webp">
          <img src="/img/time-is-money.jpg" alt="Time is Money book cover" />
        </picture>


        </a>

        <div class="bd"><h3><a href="http://shop.oreilly.com/product/0636920041450.do">Time is Money by Tammy Everts</a></h3>Tammy's book has study after study after study about why performance matters. She covers not just the business side of things, but also the psychology of performance: how does bad performance make users feel.</div></li>
      <li class="mo bd">
      <a class="pull" href="http://designingforperformance.com/">
        <picture>
          <source type="image/webp" srcset="/img/designing-for-performance.webp">
          <img src="/img/designing-for-performance.jpg" alt="Designing for Performance book cover" />
        </picture>

      </a>
      <div class="bd">
        <h3><a href="http://designingforperformance.com/">Designing for Performance by Lara Hogan</a></h3> Lara's book is loaded with great information about advocating for performance within your organization.
      </div>
        </li>

      <!-- <li class="mo bd">
        <a class="pull" href="http://pathtoperf.com">
          <picture>
            <source type="image/webp" srcset="/img/path-to-perf.webp">
            <img src="/img/path-to-perf.jpg" alt="Path to Performance Logo" />
          </picture>
        </a>
        <div class="bd">
          <h3><a href="http://pathtoperf.com">Path to Performance Podcast hosted by Katie Kovalcin and Tim Kadlec</a></h3> The Path to Performance was a podcast dedicated to helping people figure out how to cultivate a culture of performance within their organizations.
        </div>
        </li> -->

    </ul>
  </div>
  <div class="footer-after">
    <div class="lc">
      <p>Help make WPO Stats better by submitting your favorite <a href="https://github.com/tkadlec/WPOStats/blob/master/CONTRIBUTING.md">performance case study.</a></p>
            <p>@{{ site.time | date: '%Y' }}. A <a href="https://tammyeverts.wordpress.com/">Tammy Everts</a> and <a href="http://timkadlec.com">Tim Kadlec</a> production.</p>

    </div>
  </div>
</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70042339-1', 'auto');
  ga('send', 'pageview');

</script>