header {
	padding: 2em 1em;
	margin: 0 auto;
	text-align: left;
	width: 100%;
	max-width: 60em;

	p {
		
		padding-top: 0;
		margin: .5em auto 0 auto;
		color: lighten($dark-gray, 20);
		font-style: italic;

		@media screen and (min-width: $bp-xsmall) {
			font-size: px-to-ems(21px);
		}
	}
	h1 {
		font-size: 1em;
		margin: 0;
		line-height: .9em;
		img {
			width: 100%;
			max-width: 100%;
			border: 0;
			margin-bottom: -.8em;
		}
	}
	#logo{
		width: 100%;
		max-width: 100%;
		border: 0;
		margin-bottom: -.8em;
	}
}