/* basic styling for image + text pattern */
.mo{
	margin: .5em 0;
	// @include breakpoint($bp-large) {
	// 	margin: 1em 0;
	// }

	&, .bd {
		overflow: hidden;
		_overflow: visible;
		zoom: 1;
	}	
	.bd > p:first-child{
		margin-top: 0;
	}
	.pull {
		margin: auto;
		margin-bottom: 1em;
		display: block;
		text-align: center;
		@media only all and (min-width: $bp-xxsmall) {
			float: left;
			margin-right: 1em;
			max-width: px-to-ems(100px);
			margin-bottom: 0;
			text-align: left;
		}
		img {
			margin: auto;
			display: inline-block;
			border: 5px solid rgba(255,255,255,.4);
			max-width: 100%;
			@media only all and (min-width: $bp-xxsmall) {
				display: block;
				max-width: 100%;
				width: 100%;
			}
		}

		span{
			display: block;
		}
	}
	.pullExt {
		// @include breakpoint($bp-small-2) {
		// 	float: right;
		// 	margin-left: 1em;
		// }
	}
}