.slats{
	list-style-type: none;
	padding-left: 0;
	font-size: 1.2em;
	li{
		list-style-type: none;
		padding-left: 0;
		margin-left: 0;
		margin-bottom: 2.5em;
	}
	img{
		height: 3.5em;
		margin: auto;
		text-align: center;
		display: block;
		@media screen and (min-width: $bp-xsmall) {
			float: left;
			display: inline-block;
			margin-right: .5em;
		}
	}
	h3{
		margin-bottom: .5em;
		@media screen and (min-width: $bp-xsmall) {
			padding-left: 4em;
		}
		small{
			font-size: .5em;
			text-transform: uppercase;
			display: block;
			text-align: right;

			a {
				color: #999;
				padding: .5em 0 .3em 0;
				display: inline-block;
				&:hover{
					text-decoration: underline;
					color:  darken(#999, 15);
					@include transition(none .3s ease-in-out);
				}
			}
			
		}
	}
	a{
		line-height: 1.4em;
	}
	h3 a:hover{
		border-bottom: darken($blue, 15);
		color: darken($blue, 15);
	}
	.tags{
		@media screen and (min-width: $bp-xsmall) {
			padding-left: 4.631578947em;
		}
		
	}
}