.slats{
	list-style-type: none;
	padding-left: 0;
	font-size: 1.2em;

	li{
		list-style-type: none;
		padding-left: 0;
		margin-left: 0;
		margin-bottom: 2.5em;
		
		@media screen and (min-width: $bp-xsmall) {
			display: grid;
			grid-template-columns: .5fr 3fr;
			grid-column-gap: 1em;
			justify-items: right;
			align-items: start;
		}
	}
	img{
		height: 3.5em;
		margin: auto;
		text-align: center;
		display: block;
		@media screen and (min-width: $bp-xsmall) {
			margin: 0;
			grid-column: 1;
			grid-row-start: 1;
			grid-row-end: span 2;
			margin-top: 1.5em;
			justify-self: center;
		}
	}
	p{
		margin-bottom: .5em;
		font-size: 1.17em;
		small{
			font-size: .6em;
			text-transform: uppercase;
			display: block;
			
			@media screen and (min-width: $bp-xsmall) {
				text-align: right;
			}
			a {
				color: #595757;
				margin: .5em 0;
				padding: 1em 0 .5em 0;
				text-align: left;
				display: block;
				@media screen and (min-width: $bp-xsmall) {
					margin-left: 1.5em;
					display: inline-block;
				}
				&:hover{
					text-decoration: underline;
					color:  darken(#595757, 35);
					@include transition(none .3s ease-in-out);
				}
			}
			
		}
	}
	a{
		line-height: 1.4em;
	}
	p a:hover{
		border-bottom: darken($blue, 15);
		color: darken($blue, 15);
	}

}
