.tag{
			
	text-decoration: none;
	font-size: .8em;
	padding: .3em;
	border-radius: .3em;
	margin-right: .2em;
	border-bottom: 0;
	color: #fff;
	background: $blue;
	display: inline-block;
	margin-bottom: .2em;

}
.tag:hover{
		background: darken($blue, 15);
		color: #fff;
}
