/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

//Colors
$black: #2c2c2c;
$blue: #2C8DC9;


//breakpoints

$bp-xsmall: 26.875em;
$bp-small: 40.625em;
$bp-med: 51.875em;