---
layout: default
---
<section role="main">
  <ul class="slats">
<li>
          {% if page.img %}
            <img src="/img/{{page.img.image}}" alt="{{page.img.alt}}" />
          {% else %}
            <img src="/img/generic.png" alt="WPO Stats Icon" />
          {% endif %}
          <p>
            <a href="{{ page.storySource }}">{{ page.title }}</a>
          </p>
          <span class="tags">
            {% for tag in page.tags %}
              <a class="tag" href="/tags/{{tag}}">#{{tag}}</a> 
            {% endfor %}
          </span>
        </li>
  </ul>
</section>
<nav role="navigation">
    {% include rssbar.html %}
</nav>