---
layout: default
---
<section role="main">
  <ul class="slats">
<li>
          {% if post.img %}
          {{#img}}
            <img src="/img/{{post.img.image}}" alt="{{post.img.alt}}" />

          {{/img}}
          {% else %}
          <img src="/img/generic.png" alt="WPO Stats Icon" />
          {% endif %}
          <h3>
            <a href="{{ page.storySource }}">{{ page.title }}</a>
          </h3>
          <span class="tags">
            {% for tag in page.tags %}
              <a class="tag" href="/tags/{{tag}}">#{{tag}}</a> 
            {% endfor %}
          </span>
        </li>
  </ul>
</section>
<nav role="complimentary">
{% include tagbar.html %}
</nav>