html {
	box-sizing: border-box;
	font-family: Georgia, "Times New Roman", serif;
}
*, *:before, *:after{
	box-sizing: inherit;
}
body {
	color: $black;
	min-height: 100vh;
	@include flexbox;
	@include flex-direction(column);
	border-top: 1em solid $black;
}
a{
	color: $blue;
	@include transition(all .3s ease-in-out);

	&:hover, &:focus, &:active{
		color: darken($blue, 15);
	}
}
#wrap{
	width: 100%;
	max-width: 65em;
	margin: auto;
	overflow: hidden;
	padding: 1em;

}
[role=main]{
	padding: 1em 0;
	@media screen and (min-width: $bp-small) {
		float: left;
		width: 70%;

	}
}
p {
	line-height: 1.3em;
}

h1, h3{
	font-weight: normal;
}
a{
	text-decoration: none;
	color: #2C8DC9;
}