.lc{
	max-width: 65em;
	margin: auto;
	overflow: hidden;
	width: 100%;
	text-align: left;
	padding: 1em;
}
img.flr{
	margin: auto;
	display: block;
	@media only all and (min-width: $bp-med) {
		margin-top: -1em;
		margin-left: 1.3em;
		margin-bottom: 1em;
		float: right;
	}
	
}
.page-title{
	font-size: 1.9em;
	font-weight: normal;
	margin-bottom: 1.5em;
	border-bottom: 5px solid $blue;
	padding-bottom: .2em;
}